body {
    background-color: gray;
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.center-container {
    top: 0px;
    border: 0px;
    padding: 20px;
    background-color: white;
    max-width: 1000px;
    margin: auto;
    height: 100vh;
}

h1 {
    color : red;
    text-align : center;
    font-size: 50px;
    border: 0px;
    padding: 0px;
    margin: 0px;
    margin-top: 30px;
}

p {
    text-align : center;
}

td {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.sudoku {
    border: 0px;
    padding: 0px;
    margin: auto;
    border-spacing: 0;
    border: 1px solid black; 
}

.sudokuBox3x3 {
    border-spacing: 0;
    border: 1px solid black; 
    border-collapse: collapse;
    padding: 3px;
}

.sudokuCell {
    border: 1px solid black; 
    border-collapse: collapse;
    padding: 4px;
    height: 28px; /* Fix aspect-ratio */
    width: 28px; /* Fix aspect-ratio */
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.number-selection-buttons-container {
    border: 0px;
    padding: 0px;
    margin: 5px;
    display: flex;
    justify-content: center;
}

.number-selection {
    font-size: 16px;
    margin: 3px;
}